<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>

<div style="margin-top: 50px;background-color: lightgray;margin-right: -35px;margin-left: -30px;margin-bottom: -20px;">
    <div class="container"><center>
<footer>

        <div class="copyrights" style="margin-top:30px;">
            <p>&copy;TheBloger
                <br>
                <span>Designed By: Ajit Singh</span><br>
            <b><a href="https://www.linkedin.com/in/ajeet-singh-kushwaha-aa399a92" target="_blank">Linkedin 
			<i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i></a></b></p>
        </div>
		
</footer><center>
</div></div>
</body>
</html>